*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# KMP / iOS
**/xcuserdata/
*.xcworkspace
!default.xcworkspace
build/
DerivedData
.kotlin/
*.hprof
